<div class="card">
    <h4>{{title}}</h4>
    <p-contextMenu #cm [model]="menuItems" appendTo="body"></p-contextMenu>
    <p-table
        #pTable
        [contextMenu]="cm"
        [(contextMenuSelection)]="selectedClient"
        [columns]="cols"
        [value]="clients"
        (onLazyLoad)="loadData($event)"
        [globalFilterFields]="['name','email']"
        selectionMode="single"
        [responsiveLayout]="'stack'"
        [resizableColumns]="true"
        [autoLayout]="true"
        [breakpoint]="'960px'"
        dataKey="id"
        [lazy]="true"
        [paginator]="true"
        [rows]="20"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [exportHeader]="'customExportHeader'"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50 , 100 , 1000 , 5000]"
        rowExpandMode="single"
    >


        <ng-template pTemplate="caption">
            <app-sms-dialog [bordeaux]="" [insurerName]="SMSMS"></app-sms-dialog>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div style="text-align: right">
                    <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
                    <input
                        type="text"
                        pInputText
                        size="50"
                        placeholder="Search  Client"

                        (input)="pTable.filterGlobal($any($event.target).value, 'contains')"
                    />
                </div>
                <div *ngIf="selectedClient" style="margin-left: 20px;">
                    <span class="text-primary font-semibold text-xl">{{ selectedClient.name }} | Email : {{selectedClient.email }}</span>

                </div>
                <div class="flex">
                    <button
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-file-excel"
                        (click)="exportExcel()"
                        class="p-button-success mr-2"
                        pTooltip="XLS"
                        tooltipPosition="bottom"
                    ></button>
                    <button
                        type="button"
                        pButton
                        pRipple
                        icon="pi pi-file-pdf"
                        class="p-button-warning mr-2"
                        pTooltip="PDF"
                        tooltipPosition="bottom"
                    ></button>
                    <p-button label="New Client" routerLink="/clients/create-client" icon="pi pi-plus"></p-button>
                </div>

            </div>
        </ng-template>


        <ng-template pTemplate="header" let-columns>
            <tr >

                <th></th>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-object>
            <tr [pContextMenuRow]="object">
                <td>
                    <p-toast></p-toast>

                </td>

                <td>{{ object.id }}</td>
                <td class="p-column-title">{{ object?.name }}</td>
                <td class="p-column-title">{{ object?.permanentAddress }}</td>
                <td class="p-column-title">{{ object?.mailingAddress }}</td>
                <td class="p-column-title">{{ object?.telephoneNumber }}</td>
                <td class="p-column-title">{{ object?.faxNumber }}</td>
                <td class="p-column-title">{{ object?.nationality }}</td>
                <td class="p-column-title">{{ object?.identityNumber }}</td>
                <td class="p-column-title">{{ object?.occupationLineOfBusiness }}</td>
                <td class="p-column-title">{{ object?.sourceOfFunds }}</td>
                <td class="p-column-title">{{ object?.contactPerson }}</td>
                <td class="p-column-title">{{ object?.mobileNumber }}</td>
                <td class="p-column-title">{{ object?.email }}</td>
                <td class="p-column-title">{{ object?.clientType }}</td>
                <td class="p-column-title">{{ object?.incorporationDate }}</td>





            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>

