<form #form="ngForm" (ngSubmit)="submitForm()">
    <div class="grid">
        <p-messages></p-messages>

<!--        firstName: '',-->
<!--        lastName: '',-->
<!--        email: '',-->
<!--        mobile: '',-->
<!--        nationalId: '',-->
<!--        password: '',-->
<!--        confirmPassword: '',-->
<!--        id: 0-->

        <div class="col-12">
            <div class="card">
                <h5>{{title}}</h5>
                <div class="p-fluid p-formgrid grid">

                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>First Name</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText
                                   type="text"
                                   style="flex: 1; margin-right: 10px;"
                                   name="firstName"
                                   #firstName="ngModel"
                                   [(ngModel)]="user.firstName"
                                   required
                            />
                        </div>
                    </div>
                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Mobile</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText
                                   type="text"
                                   style="flex: 1; margin-right: 10px;"
                                   name="mobile"
                                   #mobile="ngModel"
                                   [(ngModel)]="user.mobile"
                                   required
                            />
                        </div>
                    </div>
                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Last Name</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText
                                   type="text"
                                   style="flex: 1; margin-right: 10px;"
                                   name="lastName"
                                   #lastName="ngModel"
                                   [(ngModel)]="user.lastName"
                                   required
                            />
                        </div>
                    </div>
                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Email</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText
                                   type="email"
                                   style="flex: 1; margin-right: 10px;"
                                   name="email"
                                   #email="ngModel"
                                   [(ngModel)]="user.email"
                                   required
                            />
                        </div>
                    </div>
                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>NationaId / Employee No</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText
                                   type="text"
                                   style="flex: 1; margin-right: 10px;"
                                   name="nationalId"
                                   #nationalId="ngModel"
                                   [(ngModel)]="user.nationalId"
                                   required
                            />
                        </div>
                    </div>

                    <div class="field col-12">
                        <label>Password Policy</label>
                        <div >
                            <p>
                                Minimum Length: {{ passwordPolicy.minimum_length }},
                                Ambiguous Characters: {{ passwordPolicy.ambiguous_chars ? 'Yes' : 'No' }},
                                Lowercase Characters: {{ passwordPolicy.lower_chars ? 'Yes' : 'No' }},
                                Uppercase Characters: {{ passwordPolicy.upper_chars ? 'Yes' : 'No' }},
                                Include Numbers: {{ passwordPolicy.include_numbers ? 'Yes' : 'No' }},
                                Include Symbols: {{ passwordPolicy.include_symbols ? 'Yes' : 'No' }},
                            </p>
                        </div>
                    </div>
                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Password</label>

                        <div class="p-inputwrapper" appCibInputDirective>
                            <p-password
                                [toggleMask]="true"
                                [(ngModel)]="user.password"
                                name="password"
                                #password="ngModel"
                            ></p-password>
                        </div>
                    </div>

                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Confirm Password</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <p-password
                                [toggleMask]="true"

                                (change)="checkPasswordsMatch()"
                                [(ngModel)]="user.confirmPassword"
                                name="confirmPassword"
                                #confirmPassword="ngModel"

                            ></p-password>
                                                    <p-message *ngIf="!passwordsMatch" severity="error" text="Date of Loss is required"></p-message>
                        </div>
                    </div>




                </div>
            </div>

            <button type="submit" pButton label="Submit" [disabled]="(!form.valid)"></button>
        </div>

    </div>
</form>


