<form #form="ngForm" (ngSubmit)="submitForm()">
    <div class="grid">
        <p-messages></p-messages>




        <div class="col-12">
            <div class="card">
                <h5>{{title}}</h5>
                <div class="p-fluid p-formgrid grid">

                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Insurer Name</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText type="text" style="flex: 1; margin-right: 10px;" name="name"
                                #name="ngModel" [(ngModel)]="insurer.name" required />
                        </div>
                    </div>


                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Address</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <textarea name="permanentAddress" #permanentAddress="ngModel" [(ngModel)]="insurer.address"
                                required rows="1" cols="30" pInputTextarea [autoResize]="true"></textarea>

                        </div>
                    </div>

                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Telephone Number</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText type="text" style="flex: 1; margin-right: 10px;" name="telephoneNumber"
                                #telephoneNumber="ngModel" [(ngModel)]="insurer.telephoneNumber" required />
                        </div>
                    </div>

                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Fax Number</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText type="text" style="flex: 1; margin-right: 10px;" name="faxNumber"
                                #faxNumber="ngModel" [(ngModel)]="insurer.faxNumber" required />
                        </div>
                    </div>
                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Registration Number</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText type="text" style="flex: 1; margin-right: 10px;" name="registrationNumber"
                                #registrationNumber="ngModel" [(ngModel)]="insurer.registrationNumber" required />
                        </div>
                    </div>



                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Mobile Number</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText type="text" style="flex: 1; margin-right: 10px;" name="mobileNumber"
                                #mobileNumber="ngModel" [(ngModel)]="insurer.mobileNumber" required />
                        </div>
                    </div>

                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>Email</label>
                        <div class="p-inputwrapper" appCibInputDirective>
                            <input pInputText type="email" style="flex: 1; margin-right: 10px;" name="email"
                                #email="ngModel" [(ngModel)]="insurer.email" required />
                        </div>
                    </div>

                    <div class="field sm:col-12 md:col-6 lg:col-3">
                        <label>IncorporationDate</label>
                        <div class="p-inputwrapper">

                            <p-calendar name="incorporationDate" #incorporationDate="ngModel"
                                [(ngModel)]="insurer.incorporationDate" required></p-calendar>
                        </div>

                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-center">

                <button type="submit" pButton label="Create Insurer" [disabled]="(!form.valid)"
                    style="margin-left: 10px;"></button>
            </div>
        </div>

    </div>
</form>
