<form #form="ngForm" (ngSubmit)="submitForm()">
    <div class="grid">
        <p-messages></p-messages>

        <div class="col-12">
            <div class="card">
                <h5>{{title}}</h5>
                <div class="p-fluid p-formgrid grid">
                    <div class="field sm:col-12 md:col-12 lg:col-12">
                        <label >Policy Documents</label>
                        <p-fileUpload

                            (onBeforeUpload)="onBeforeUpload($event)"

                            name="files"  [url]="uploadUrl" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>

                </div>
            </div>

            <button type="submit" pButton label="Submit" [disabled]="!filesUploaded"></button>
        </div>

    </div>
</form>






